apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: backend-secret
  namespace: helpernote
spec:
  template:
    metadata:
      name: backend-secret
      namespace: helpernote
    type: Opaque
  encryptedData:
    database-url: PLACEHOLDER
    jwt-secret: PLACEHOLDER
