apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: postgres-secret
  namespace: helpernote
spec:
  template:
    metadata:
      name: postgres-secret
      namespace: helpernote
    type: Opaque
  encryptedData:
    database: PLACEHOLDER
    username: PLACEHOLDER
    password: PLACEHOLDER
